$color-primary: hsl(217, 19%, 35%);
$color-secondary: hsl(214, 17%, 51%);
$color-headings: hsl(212, 23%, 69%);
$color-background: hsl(210, 46%, 95%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  background-color: $color-background;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

// .attribution {
//   justify-self: center;
// }

.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-preview-component {
  background-color: #fff;
  max-width: 326px;
  max-height: 512px;

  .article-image {
    img {
      max-height: 200px;
    }
  }

  .article-text {
    .author-info {
      display: flex;
      justify-content: space-between;
      
      .avatar {
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }

      .share-icon {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}